
.btn,-primary {
    background-color: white;
    border-color: #dad8d6;
    border-width: 2px;
    border-radius: 15px;
    color: #00634f;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:active:focus, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    background-color: #dad8d6;
    border-color: #dad8d6;
    color: #00173b;
}

.btn-success {
    background-color: #08a384;
    border-color: #00634f;
    border-width: 2px;
    border-radius: 15px;
    color: white;

}


.nav-tabs.nav-link {
    color: #e7e7e7;
    background-color: #08a384;
    border-radius: 12px;
    border-color: 00173b;
}

.nav-tabs.nav-link.active {
    color: white;
    background-color: #00173b;
    font-style: italic;
}

.rc-slider {
    background-color: #e7e7e7;
}

.rc-slider-step {

}

/* Slider Handle */
.rc-slider-handle {
    border: solid 3px #00634f;
}

/* Slider Handle (Hover) */
.rc-slider-handle:hover, .rc-slider-handle:focus, .rc-slider-handle:active, .rc-slider-handle:active:focus, .rc-slider-handle-click-focused, .rc-slider-handle-click-focused:focus {
    border: solid 3px #00634f;
    box-shadow: 0 0 0 2px #08a384;
}

/* Slider Handle (Active) */
.rc-slider-handle-dragging, .rc-slider-handle-dragging:active, .rc-slider-handle-dragging:focus, .rc-slider-handle-dragging:hover, .rc-slider-handle-dragging:active:focus, .rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    border: solid 3px #00634f;
    box-shadow: 0 0 0 4px #08a384;
}



.rc-slider-track {
    background-color: #08a384;
}

.rc-slider-dot {
    background-color: white;

}

.rc-slider-dot-active {
    background-color: #00634f;
    border-color: #08a384;
}
/*
.rc-slider-mark-text {

}
*/
